table {
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 5px 10px;
  border: 1px solid black;
}

th {
  background-color: #eee;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  margin-right: 10px;
}
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.search-container label {
  margin-right: 10px;
}

.search-container input[type="text"] {
  width: 120px;
  padding: 5px;
  font-size: 14px;
}